@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: hsl(218, 28%, 13%);
  font-family: "Open Sans", sans-serif;
  /* font-size: 14px; */
  padding: 30px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  font-family: "Raleway", sans-serif;
}

nav img {
  height: 1.625rem;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}

#header {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  margin: 40px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  color: hsl(0, 0%, 100%);
}

p,
ul {
  color: hsl(0, 0%, 100%, .8);
}

img {
  max-width: 100%;
}

.btn {
  padding: 18px 20px;
  border-radius: 30px;
  width: 100%;
  background-color: hsl(176, 68%, 64%);
  color: hsl(0, 0%, 100%);
  margin-top: 30px;
}

#services {
  margin: 100px 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 5rem;

}

.security,
.access,
.real,
.store {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

#services img {
  margin: 0 auto;
}

#illu {
  margin: 80px 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  text-align: left;
}

.fylo {
  display: flex;
  text-decoration: hsl(176, 68%, 64%);
}

.fylo p {
  color: hsl(176, 68%, 64%);
  text-decoration: underline;
}

#quotes {
  display: block;
  width: 1.5rem;
}

#testimonials {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.25rem;
  text-align: left;
  line-height: 1.5rem;
}

#testimonials img {
  border-radius: 50%;
  width: 3rem;
  margin-right: 10px;
}

.patel,
.bruce,
.iva {
  padding: 30px;

}

.pat,
.bru,
.iv {
  display: flex;
  margin-top: 10px;

}

.patdetails,
.brudetails,
.ivdetails {
  align-items: center;
}

.patel,
.bruce,
.iva {
  background-color: hsl(219, 30%, 18%);
}

.getaccess {
  position: relative;
  background-color: hsl(217, 28%, 15%);
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5rem;
  margin: 8rem auto -12rem;
  max-width: 380px;
  border-radius: 10px;
}

#email {
  padding: 18px 20px;
  border-radius: 30px;
  width: 100%;
}

footer {
  background-color: hsl(216, 53%, 9%);
  text-align: left;
  padding: 50px 30px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 5rem;

}

#footfylo {
  margin-top: 220px;
}

.contact {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5rem;
  padding: 40px 0;
}

footer img {
  max-height: 100%;

}

.phone,
.mail {
  align-items: center;
  margin: 13px 0 40px 0;
}

.location,
.mail,
.phone {
  display: flex;
}

.mail img,
.phone img,
.location img {
  margin-right: 20px;
}

.location img {
  height: 1.5rem;
}

footer ul {
  list-style: none;
  line-height: 3rem;
  color: hsl(0, 0%, 100%);

}

.list {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}

.icons {

  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 100px;
}

.fb,
.ig,
.tw {
  border-radius: 50%;
  border-color: white;
  border-style: solid;
  border-width: 1.5px;
  padding: 6px 6px 4px 6px;
}

@media(min-width:280px) {
  nav ul {
    gap: 0.525rem;
  }

  nav img {
    max-width: 3.5rem;
  }
}

@media(min-width:760px) {


  #header {
    padding: 0 170px;
  }

  #services {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    padding: 0 100px;
  }

  #illust {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    padding: 0 20px;
  }

  #testimonials {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 20px;
  }

  #testimonials img {
    height: 1.5rem;
    width: 1.5rem;
  }

  .pat,
  .bru,
  .iv {
    font-size: 6px;
    line-height: normal;
  }

  .getaccess {
    /* margin: 40px 120px; */
    max-width: 700px;
    margin: 8rem auto -8rem;
  }



  .getaccess form {
    display: flex;
    width: 100%;
    max-width: 900px;
    gap: 1rem;

  }

  .accessbt form input {
    width: 100%;
  }



  footer {
    font-size: 12px;
    padding: 90px 40px;
  }

  #foot {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
  }

  .contact {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    padding: 7px 0;
  }

  footer ul {
    line-height: 1.25rem;
  }

  #footfylo {
    max-width: 5rem;
  }

  .mail img,
  .phone img,
  .location img {
    margin-right: 10px;
    height: 0.5rem;
    width: 0.5rem;
  }

  .btn {
    padding: 10px 20px;
    border-radius: 20px;
    width: 50%;

  }

  .ig,
  .fb,
  .tw {
    border-style: none;
  }
}

@media(min-width:1024px) {
  #header img {
    padding: 100px;
  }

  #header .btn {
    margin: auto;
  }

  .pat,
  .bru,
  .iv {
    font-size: 10px;
  }

  footer {
    font-size: 11px;
  }

  #testimonials {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

  }
}